{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.project.replies -%}
{%- import "src/_mapping.j2" as mapping with context -%}
"Publication Date","{{ mapping.metadata.pubDate|datetime_format("%y-%m-%dT%H:%M:%SZ") }}"
"Community Name","{{ mapping.metadata.communityName }}"
"Community URI","{{ mapping.metadata.communityURI }}"
"Data Stewards","{{ mapping.metadata.dataStewards|join(', ') }}"
"DO Type Name","{{ mapping.metadata.doTypeName }}"
"DO Type URI","{{ mapping.metadata.doTypeURI }}"
"DO URL","{{ mapping.metadata.doUrl }}"
"Case Study Name","{{ mapping.metadata.caseStudyName }}"
"Case Study URI","{{ mapping.metadata.caseStudyURI }}"
"Version","{{ mapping.metadata.version }}"
