{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}
{%- import "src/_mapping.j2" as mapping with context -%}
"Publication Date","{{ mapping.metadata.pubDate|datetime_format("%y-%m-%dT%H:%M:%SZ") }}"
"Community Name","{{ mapping.metadata.communityName }}"
"Community URI","{{ mapping.metadata.communityURI }}"
"Digital Object Type Name","{{ mapping.metadata.digitalObjectTypeName }}"
"Digital Object Type URI","{{ mapping.metadata.digitalObjectTypeURI }}"
"Methodology Name","{{ mapping.metadata.methodologyName }}"
"Methodology URI","{{ mapping.metadata.methodologyURI }}"
"Data Steward","{{ mapping.metadata.dataSteward }}"
"Start Date","{{ mapping.metadata.startDate }}"
"End Date","{{ mapping.metadata.endDate }}"
